<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navStyle.css">
    <title>Library</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a class="nav-link" href="#">Home</a></li>
            <li><a class="nav-link" href="#">Library</a></li>
            <li><a class="nav-link" href="#">Authors</a></li>
        </ul>
    </nav>
    <div class="container">
        <div style="display: flex;">
            <h1 style="position: relative; left: 40%;">Library</h1>
        </div>
        <div id="book-grid" class="book-grid"></div>
    </div>
    <script src="/js/bookcard.js"></script>
</body>
</html>